<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-slides   [options]="sliderOpts"
                *ngIf="data.noticias.length === 0"> 
    <ion-slide>
      <ion-label>
        No Hay Favoritos...
      </ion-label>
    </ion-slide>
  </ion-slides>

  <app-noticias *ngIf="data.noticias.length > 0" 
                 [enFav]="true"
                 [noticias]="data.noticias"></app-noticias>

</ion-content>
